<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/index-style.css" rel="stylesheet" type="text/css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>Grey Lodge Books</title>
</head>
<body>
    <div class="intro">
        <h1 class="logo-header">
            <span class="logo"><%= book.title; %></span>
        </h1>   
    </div>
    <div class="desc">
		<p><%= book.author; %></p>
        <p class="bio"><%= book.description; %></p>
        <h4>Price: $<%=book.price%></h2>
        <h4>Qty: <%=book.qty%></h2>
    </div>
    
    <form action="/books/<%= book._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete this Book">
    </form>

    <ul>
        <li>
            <a href="/books/<%= book._id %>/edit">Edit This Book  |</a>
        </li>
        <li>
            <a href="/books">  Back to Store  </a>
        </li>
        <li>
            <a href="/books/new">|  Add a New Book</a>
        </li>
    </ul>
    
</body>
</html>